pool:
  vmImage: 'Ubuntu 16.04'

variables:
  imageName: 'azure-vote-front:$(Build.BuildId)'
  azureSubscriptionEndpoint: infostretchdevops-acr
  azureContainerRegistry: infostretchtestdocker.azurecr.io
  azureResourceGroup: kubernetes-aks
  kubernetesCluster: kubernetes-aks
    

steps:
- script: docker build -f azure-vote/Dockerfile -t $(acrName).azurecr.io/$(imageName) .
  displayName: 'docker build'

- script: docker login -u $(dockerId) -p $(dockerPassword) $(acrName).azurecr.io
  displayName: 'docker login'

- script: docker push $(acrName).azurecr.io/$(imageName)
  displayName: 'docker push'
  
- task: Kubernetes@1
  displayName: kubectl apply using arguments
  inputs:
    connectionType: Azure Resource Manager
    azureSubscriptionEndpoint: $(azureSubscriptionEndpoint)
    azureResourceGroup: $(azureResourceGroup)
    kubernetesCluster: $(kubernetesCluster)
    command: apply
    arguments: -f azure-vote-all-in-one-redis.yaml
    secretType: dockerRegistry
    containerRegistryType: Azure Container Registry
    azureSubscriptionEndpointForSecrets: $(azureSubscriptionEndpoint)
    azureContainerRegistry: $(azureContainerRegistry)
    secretName: acr-auth
    forceUpdate: true

